  
<h1>Add Cocktail</h1>

<div class="container mt-5">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :foto, as: :file %>
    <%= f.submit "Submit", class: "btn btn-info" %>
    <%= link_to 'Cancel', cocktails_path(@cocktail), class: 'btn btn-dark' %>
  <% end %>
</div>