
<div class="container">
  <%# <h1 class="my-5 text-center text-white">Receip</h1> %>
  <div class="">
    <div class="show-card">
      <% if @cocktail.photo.attached? %>
        <%= cl_image_tag @cocktail.photo.key, crop: :fill, class: "show-card-img", alt: "Card image cap" %>
      <% else %>
        <img class="show-card-img" src=<%= @cocktail.picture_url %>>
      <% end %>
      <div class="show-card-body">
        <div class="d-flex align-items-center mb-5">
          <h3 class="show-card-title"><%= @cocktail.name%></h3>
          <%= link_to edit_cocktail_path(@cocktail) do %>
            <i class="fas fa-edit"></i>
          <% end  %>
        </div>
          <div class="d-flex">
            <h5 class="mb-4">Add Ingredient</h5>
            <%= link_to new_cocktail_dose_path(@cocktail) do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
        <ul>
            <% @cocktail.doses.each do |dose| %>
              <% @cocktail.ingredients.each do |ingredient| %>
                <% if dose.ingredient_id == ingredient.id %>
                  <li>
                    <%= dose.description %>
                    <%= ingredient.name %>
                    <%= link_to dose_path(dose), method: :delete, data: {confirm: 'Are you sure?'} do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>